body {
  background-color: #bec0b2;
}

.bg-dark {
  background-color: #b5a5ae !important;
}

.navbar {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.section-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #8e3983;
}

.quote {
  font-style: italic;
  color: #0c0b0b;
}

.profile-img {
  max-width: 200px;
  border-radius: 50%;
}
